@import "src/assets/styles/colors";

svg {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.main {
  position: relative;
  height: 298px;
  width: 224px;
  border-radius: 20px 20px;
  border-color: #3d3d3d;
  margin-bottom: 52px;
  font-style: oblique;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  background-color: $color-core-foreground;

  &.favorited {
    .addHero {
      background-color: red;
    }
  }
}

.imgContent {
  height: 224px;
  width: 224px;
}

.img {
  border-radius: 20px 20px 0 0;
  border-color: #3d3d3d;
  height: 100%;
  width: 100%;
  user-select: none;

  border: 1px solid var(--color-core-border, #3d3d3d);
}

.nameHero {
  font-family: "Creepster", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;

  margin-bottom: 8px;

  width: 100%;
  color: $color-core-content;
}

.cardDescription {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 12px;
  color: white;
  height: 30%;
}

.description {
  height: 100%;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: $color-core-content-low;
}
