<!--<main>-->

<!--  <div *ngIf="(hero$ | async) as character">-->
<!--    <div class="header">-->
<!--      <img alt="image" *ngIf="character" [src]="getImage(character)">-->
<!--    </div>-->
<!--    <ng-container *ngIf="character">-->
<!--      <div class="info">-->
<!--        <h1 class="text-primary">{{character.name}}</h1>-->
<!--        <p [innerHtml]="character.description"></p>-->
<!--      </div>-->

<!--      &lt;!&ndash; comics &ndash;&gt;-->
<!--      <app-list-group title="Comics" [items]="character['comics']['items']"></app-list-group>-->

<!--      &lt;!&ndash; series &ndash;&gt;-->
<!--      <app-list-group title="Series" [items]="character['series']['items']"></app-list-group>-->

<!--      &lt;!&ndash; stories &ndash;&gt;-->
<!--      <app-list-group title="Stories" [items]="character['stories']['items']"></app-list-group>-->

<!--      &lt;!&ndash; events &ndash;&gt;-->
<!--      <app-list-group title="Events" [items]="character['events']['items']"></app-list-group>-->

<!--      &lt;!&ndash; references &ndash;&gt;-->
<!--      <app-list-group title="References" key="type" link="url" [isLink]="true" [items]="character['urls']">-->
<!--      </app-list-group>-->

<!--    </ng-container>-->
<!--  </div>-->

<!--</main>-->
