<main>
  <div *ngIf="serie$ | async as serie">
    <div class="header">
      <img alt="imagem" *ngIf="serie" [src]="getImage(serie)" />
    </div>

    <ng-container *ngIf="serie">
      <div class="info">
        <h1 class="text-primary">{{ serie.name }}</h1>
        <p [innerHtml]="serie.description"></p>
      </div>

      <!--      &lt;!&ndash; characters &ndash;&gt;-->
      <!--      <app-list-group title="Characters" [items]="serie['characters']['items']"></app-list-group>-->

      <!--      &lt;!&ndash; creators &ndash;&gt;-->
      <!--      <app-list-group title="Creators" [items]="serie['creators']['items']"></app-list-group>-->

      <!--      &lt;!&ndash; stories &ndash;&gt;-->
      <!--      <app-list-group title="Stories" [items]="serie['stories']['items']"></app-list-group>-->

      <!--      &lt;!&ndash; events &ndash;&gt;-->
      <!--      <app-list-group title="Events" [items]="serie['events']['items']"></app-list-group>-->

      <!--      &lt;!&ndash; references &ndash;&gt;-->
      <!--      <app-list-group title="References" key="type" link="url" [isLink]="true" [items]="serie['urls']"></app-list-group>-->
    </ng-container>
  </div>
</main>
