@import "src/assets/styles/colors";


.container-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-core-background;
  padding: 48px 215px 48px 215px;

  section {
    height: 60px;
    max-width: 690px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


main {
  height: 100vh;
  background-color: $color-core-background;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .main {
    padding: 114px 15% 229px 15%;
  }
}

.flexGrid {
  max-width: 860px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  app-card {
    display: block;
    margin-left: 8px;
  }
}

.flexGrid .col {
  width: 22%;
  justify-content: center;
  display: flex;
}

@media (max-width: 1600px) {
  .flexGrid .col {
    width: 27%;
  }
}

@media (max-width: 1300px) {
  .flexGrid .col {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .flexGrid .col {
    width: 100%;
  }
}
