$color-core-background: #1f1f1f;
$color-core-foreground: #0a0a0a;
$color-core-content: #fafafa;
$color-core-border: #3d3d3d;
$color-neutral-content: #a4a4a4;
$color-core-content-low: #a4a4a4;
$color-neutral-border: #3d3d3d;
