<div class="container-favorite">
  <section>
    <img alt="title" src="../../../../../assets/icons/favorites.png"/>
    <div>
    </div>
  </section>
</div>


<main>
  <div *ngIf=" characterService.favoriteCharacters | async as characters">
    <div *ngIf="characters.length > 0 ; else noCharacter" class="flexGrid">
      <app-card
        *ngFor="let character of characters"
        (favoriteEmitter)="favoriteCharacter($event)"
        [character]="character"
      ></app-card>
    </div>
    <ng-template #noCharacter>
      <app-warning [label]="'Parece que você ainda não tem favoritos'"
                   [span]="'Volte à página inicial e escolha os melhores para você.'"></app-warning>
    </ng-template>
  </div>


</main>
