<main>
  <div *ngIf="comic$ | async as comic">
    <div class="header">
      <img alt="image" *ngIf="comic" [src]="getImage(comic)" />
    </div>

    <ng-container *ngIf="comic">
      <div class="info">
        <h1 class="text-primary">{{ comic.name }}</h1>
        <p [innerHtml]="comic.description"></p>
      </div>

      <!-- characters -->
      <app-list-group
        title="Characters"
        [items]="comic['characters']['items']"
      ></app-list-group>

      <!-- creators -->
      <app-list-group
        title="Creators"
        [items]="comic['creators']['items']"
      ></app-list-group>

      <!-- stories -->
      <app-list-group
        title="Stories"
        [items]="comic['stories']['items']"
      ></app-list-group>

      <!-- events -->
      <app-list-group
        title="Events"
        [items]="comic['events']['items']"
      ></app-list-group>

      <!-- references -->
      <app-list-group
        title="References"
        key="type"
        link="url"
        [isLink]="true"
        [items]="comic['urls']"
      ></app-list-group>
    </ng-container>
  </div>
</main>
