main{
  background-color: #E5E5E5;
  padding: 114px 215px 229px 215px;
  font-size: 1.4rem;
  font-weight: bolder;
}


.header{
  display: flex;
  justify-content: center;
}

img{
  border-radius: 20px;
}
